<%- include("./partials/header") %>

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">

                    <!-- Slide  -->
                    <div class="carousel-item carousel-image active">
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <img src="img/logo.svg" alt="" class="img-fluid img-logo">
                                <h2 class="animate__animated animate__fadeInDown"><span>Toplevel</span> Bartending</h2>
                                <div>
                                    <a href="#contact" class="btn-menu animate__animated animate__fadeInUp scrollto">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section class="about" id="about">
            <div class="container-fluid ">
                <div class="section-title ">
                    <h2>About <span>Me</span></h2>
                </div>

                <div class="row video-row">
                    <div id="video" class="col-md align-items-stretch video-box ">
                        <a id="play-btn" class="play-btn mb-4 " data-vbtype="video "></a>
                    </div>

                    <div class="col-md d-flex flex-column justify-content-center align-items-stretch ">

                        <div class="content ">
                            <h3>"The greatest accomplishment of a bartender lies in his ability to exactly suit his customer."</strong>
                            </h3>
                            <p>
                                I see the bar as my stage, knowing how to adapt to the audience.
                            </p>
                            <p class="fst-italic ">
                                Finding the balance between personalised service and keeping up with the docket printer when it just won’t stop!! Speed, skill, compassion and curiosity is all required.
                            </p>
                            <ul>
                                <li><i class="bx bx-check-double "></i> ALWAYS finding ways to create fantastic experiences for the guest.</li>
                                <li><i class="bx bx-check-double "></i>An expert judge in matters of taste.</li>
                                <li><i class="bx bx-check-double "></i>Maintaining a presentable and organised environment.</li>
                            </ul>
                            <!-- <p class="fst-italic ">
                                The vibe is the bar, the vibe is the people, the vibe is the culture of the place. The bar is simply the fine beginning upon which we press play and let the fun begin.
                            </p> -->
                        </div>

                    </div>

                </div>

            </div>
            </div>
            <!-- ======= Whu testimonials Section ======= -->
            <div class="testimonial">
                <div class="container ">

                    <div class="section-title ">
                        <h2>What <span>Others </span>think</h2>
                        <p>Find out what the other people are talking about</p>
                    </div>
                    <div class="row testimonials ">

                        <div class="col-lg-4 position-relative ">

                            <div class="testimonial-item ">
                                <img src="img/testimonials/testimonials-1.jpg " class="testimonial-img " alt=" ">
                                <h3>Ibi Issolah</h3>
                                <h4>Head Manager at Yen London</h4>

                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left "></i>Bartender with exceptional talent. He thrives in a busy environment and is an absolute genius when it comes to mixing drinks.
                                    <i class="bx bxs-quote-alt-right quote-icon-right "></i>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 position-relative ">
                            <div class="testimonial-item ">
                                <img src="img/testimonials/testimonials-2.jpg " class="testimonial-img " alt=" ">
                                <h3>Raffaele Marotta</h3>
                                <h4>Owner of Ti-Amo restaurant</h4>

                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left "></i>It's a great pleasure having him on a team. He always finds creative things how to improve the bar and service. The bar counter was always full of guests.
                                    <i class="bx bxs-quote-alt-right quote-icon-right "></i>
                                </p>
                            </div>
                        </div>

                        <div class="col-lg-4 mt-4 mt-lg-0 position-relative ">
                            <div class="testimonial-item ">
                                <img src="img/testimonials/testimonials-3.jpg " class="testimonial-img " alt=" ">
                                <h3>Ashley Knight</h3>
                                <h4>Head Manager at Porcupine</h4>

                                <p>
                                    <i class="bx bxs-quote-alt-left quote-icon-left "></i>Passionate since day one. Charismatic and charming, guests loves him.
                                    <i class="bx bxs-quote-alt-right quote-icon-right "></i>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>


                <!-- End testimonials Section -->
                <div class="profile">
                    <div class="container ">
                        <div class="profile-slider swiper-container ">
                            <div class="swiper-wrapper ">

                                <div class="swiper-slide ">
                                    <div class="row event-item ">
                                        <div class="col-lg-5 ">
                                            <img src="img/profile.jpg" class="img-fluid" alt=" ">
                                        </div>
                                        <div class="col-lg-6 pt-4 pt-lg-0 content ">
                                            <h3>Dear Guest,</h3>
                                            <div class="price">
                                                <p><span>Hello! My name is Marius.</span></p>
                                            </div>
                                            <p class="fst-italic ">
                                                An outgoing and charismatic Bartender-Mixologist who is knowledgeable and passionate with 4+ years of experience at busy bars and fine dine restaurants in London.
                                            </p>
                                            <p class="fst-italic ">
                                                Worked in British, Mediterranean, Italian, Indian and Japanese cuisine restaurants which introduced me to their unique cultures and a huge variety of spirits and drinks.
                                            </p>
                                            <p>Participated in various events like London Facion week, Swing time, seasonal events and birthdays.</p>
                                            <p>
                                                Knowledge of many popular classic cocktails and invented multiple best-selling signature drinks.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- End testimonial item -->

                            </div>
                            <div class="swiper-pagination "></div>
                        </div>

                    </div>
        </section>
        <!-- End About Section -->




        <!-- ======= Specials Section ======= -->
        <section id="specials" class="specials">
            <div class="container">

                <div class="section-title">
                    <h2>Cocktail <span>Specials</span></h2>
                    <p>The Top Best-selling Cocktails</p>
                </div>

                <div class="row">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Haru Natsu specials</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Hot Hakushu Aki</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Chocolate Martini</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Toki Sour</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Strawberrylicious</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9 mt-4 mt-lg-0">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Haru Breeze and Natsu Blossom</h3>
                                        <p class="fst-italic">Spring and summer season cocktails. Every sip reminds of the season's best feelings and memories. Scent of citrus, refreshing and pleasant taste.</p>
                                        <h4>Ingredients:</h4>
                                        <p>Haru Breeze: Ohhi Brown Sugar Sochu, Umeshu, yuzu juice, orange bitters, Suntory Light Tonic.</p>
                                        <p>Natsu Blossom: Levander infused Umeshu, Ohhi Brown Sugar Sochu, Shiso leaf, Suntory Light Tonic.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="img/specials/harublossom.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Hot Hakushu Aki</h3>
                                        <p class="fst-italic">Japanese Autumn special. When the leaves start turning and there's a crisp breeze in the air that makes one want to throw on a nubby sweater and sit by the fire. Hot Hakushu Aki will warm you up with rich aromas
                                            and make you feel relaxed.</p>
                                        <h4>Ingredients:</h4>
                                        <p>Levander infused Hakushu single malt whisky, Campari, Antica Formula, Rasberry tea.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="img/specials/hothakuaki.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Chocolate Martini</h3>
                                        <p class="fst-italic">Picking a desert was never easy. That's why Chocolate martini is perfect choice to sweeten your pallets.</p>
                                        <h4>Ingredients:</h4>
                                        <p>Amaretto, Frangelico, Baileys Irish Cream, Nutella infused Vodka.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="img/specials/chocolatemartini.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Toki Sour</h3>
                                        <p class="fst-italic"></p>
                                        <h4>Ingredients:</h4>
                                        <p>Orange infused Toki Whisky, Muyu Chinotto Nero, lemon verbena.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="img/specials/tokiorangesour.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Strawberrylicious</h3>
                                        <p class="fst-italic"></p>
                                        <h4>Ingredients:</h4>
                                        <p>Strawberry infused bacardi rum, Malibu, pineapple, cream, strawberries.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="img/specials/strawberrylicious.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End Specials Section -->


        <!-- ======= Contact Section ======= -->
        <%- include("./utils/mailer") %>

            <!-- End Contact Section -->

            <!-- ======= Gallery Section ======= -->
            <section id="gallery" class="gallery">
                <div class="container-fluid ">

                    <div class="section-title ">
                        <h2>Some <span>Photos</span></h2>
                        <p></p>
                    </div>

                    <div class="row no-gutters ">

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-1.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-1.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-2.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-2.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-3.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-3.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-4.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-4.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-5.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-5.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-6.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-6.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-7.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-7.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 ">
                            <div class="gallery-item ">
                                <a href="img/gallery/gallery-8.jpg " class="gallery-lightbox ">
                                    <img src="img/gallery/gallery-8.jpg " alt=" " class="img-fluid ">
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
            <!-- End Gallery Section -->

    </main>
    <!-- End #main -->


    <%- include("./partials/footer") %>