<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/resume.css" rel="stylesheet" type="text/css">
    <title>Marius Dervinis - Resume</title>
</head>

<body>
    <div class="page">
        <div class="lang">
            <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="England Flag">
            <img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/lt.svg" alt="Lithuania Flag">
        </div>
        <section class="main">
            <div class="container">
                <img class="profile-img mobile" src="img/profile.jpg" alt="">
                <div class="main-container">
                    <div class="content">
                        <div class="name">Marius Dervinis</div>
                        <div class="job-title mobile">Bartender - Mixologist</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Phone LT:</div><a class="item-info" href="tel:+37069271911" rel="noopener" target="_blank">+37069271911</a>
                                <div class="item">Phone UK:</div><a class="item-info" href="tel:+447453396996" rel="noopener" target="_blank">+447453396996</a>
                                <div class="item">Email:</div><a class="item-info" href="mailto://marius.dervinis@gmail.com" rel="noopener" target="_blank">marius.dervinis@gmail.com</a>
                                <div class="item">Location:</div>
                                <div class="item-info">Vilnius, Lithuania <br>London, United Kingdom</div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="job-title tablet">Bartender - Mixologist</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Portfolio:</div><a class="item-info" href="https://toplevelbartending.herokuapp.com/" rel="noopener" target="_blank">toplevelbartending.herokuapp.com</a>
                                <div class="item">Twitter:</div><a class="item-info" href="https://twitter.com/MariusDerv" rel="noopener" target="_blank">twitter.com/MariusDerv</a>
                                <div class="item">Facebook:</div><a class="item-info" href="https://facebook.com/marius.dervinis" rel="noopener" target="_blank">facebook.com/marius.dervinis</a>
                                <div class="item">Instagram:</div><a class="item-info" href="https://www.instagram.com/marius.der/" rel="noopener" target="_blank">instagram.com/marius.der</a>
                            </div>
                        </div>
                    </div>
                    <div class="content desktop"><img class="profile-img" src="img/profile.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="about">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            About
                        </div>
                    </div>
                    <div class="content">
                        <p>An outgoing and charismatic Bartender-Mixologist who is knowledgeable and passionate with 4+ years of experience at busy bars and fine dine restaurants in London. Worked in British, Mediterranean, Italian, Mexican, Indian and Japanese
                            cuisine restaurants which introduced me to their unique cultures and a huge variety of spirits and drinks. Had a chance to Participate in various events like London Facion week, Swing time, seasonal events and birthdays. Knowledge
                            of many popular classic cocktails and invented multiple best-selling signature drinks.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="experience">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Work Experience
                        </div>
                    </div>
                    <div class="content">
                        <h1>Yen restaurant</h1>
                        <div class="section-date">
                            2019 - present
                        </div>
                        <div class="section-place">
                            190, 5 Strand, Arundel St, Temple, London WC2R 3DX, United Kingdom
                        </div>
                        <h2>Bartender</h2>
                        <p>
                            <ul>
                                <li>Learn about Japanese culture, sake, Japanese whisky.</li>
                                <li>Experience in working at Fine Dine restaurant.</li>
                                <li>Proud to create own Japanese signature cocktails.</li>
                                <li>Active member of Yen summer menu</li>
                                <li>London fashion week special cocktails</li>
                                <li>Responsibility to lead the bar</li>
                            </ul>
                        </p>
                    </div>
                    <div class="content">
                        <h1>Ti-Amo authentic Italian restaurant</h1>
                        <div class="section-date">
                            2018-2019
                        </div>
                        <div class="section-place">
                            182 Petts Wood Rd, Orpington BR5 1LG, United Kingdom
                        </div>
                        <h2>Bartender</h2>
                        <p>
                            <ul>
                                <li>Making high quality cocktails.</li>
                                <li>Inventing new cocktail recipes for the cocktail of the day promotion.</li>
                                <li>Proud to create own Japanese signature cocktails.</li>
                                <li>Learn more about coffee. Late, Cappuccino and flat white.</li>
                                <li>Managing bar, creating new techniques work would be more efficient</li>
                                <li>Training barbacks</li>
                                <li>Counting stock, reordering </li>
                                <li>Operating cash till, being responsible with a money</li>
                            </ul>
                        </p>
                    </div>

                    <div class="content">
                        <h1>Cyprianis Mediterranean restaurant</h1>
                        <div class="section-date">
                            2018
                        </div>
                        <div class="section-place">
                            17 Station Square, Petts Wood, BR5 1LY, United Kingdom
                        </div>
                        <h2>Bartender</h2>
                        <p>
                            <ul>
                                <li>Making classic cocktails </li>
                                <li>Quality, friendly and professional service</li>
                                <li>Working efficiently under pressure</li>
                                <li>Assisting floor staff </li>
                            </ul>
                        </p>
                    </div>
                    <div class="content">
                        <h1>The Porcupine pub</h1>
                        <div class="section-date">
                            2017
                        </div>
                        <div class="section-place">
                            48 Charing Cross Road, Greater London, WC2H 0BS, United Kingdom
                        </div>
                        <h2>Team Member</h2>
                        <p>
                            <ul>
                                <li>Serving customers with alcohol, drinks and food.</li>
                                <li>Pouring, mixing drinks.</li>
                                <li>Making sure that Food and beverages are served to the highest standards and presentation.</li>
                                <li>Operating a cash till, collecting payment.</li>
                                <li>Filling stock, replacing beer barrels, washing glasses, keeping workplace tidy.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="education">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Skills
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Mixology</li>
                            <li>Connoisseur</li>
                            <li>Knowledge about Japanese spirits and Sake</li>
                            <li>Knowledge about Italian spirits and Wines</li>
                            <li>
                                Good Communication Skills
                            </li>
                            <li>An Outgoing Personality</li>
                            <li>Teamwork</li>
                            <li>Cleanliness</li>
                            <li>Attention to Detail</li>


                        </ul>
                    </div>
                </div>
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Education
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Mixology lessons by Roberto Russo</li>
                            <li>
                                Vilniaus technology and business profession teaching centre – 2016, Vilnius 01114, Lithuania
                            </li>
                            <li>Worker's Diploma. Operator of computer designing training programme – 2016</li>

                        </ul>
                        <br>
                        <h1>Languages:</h1>
                        <p>English, Lithuaninan, Russian</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
    </div>
</body>

</html>