<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/resume.css" rel="stylesheet" type="text/css">
    <title>Marius Dervinis - Resume</title>
</head>

<body>
    <div class="page">
        <div class="lang">
            <a href="resume-en"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/gb.svg" alt="England Flag"></a>
            <a href="resume-lt"><img class="flag" src="https://lipis.github.io/flag-icon-css/flags/4x3/lt.svg" alt="Lithuania Flag"></a>

        </div>
        <section class="main">
            <div class="container">
                <img class="profile-img mobile" src="img/profile.jpg" alt="">
                <div class="main-container">
                    <div class="content">
                        <div class="name">Marius Dervinis</div>
                        <div class="job-title mobile">Barmenas - Miksologas</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Mob. Telefonas:</div><a class="item-info" href="tel:+37069271911" rel="noopener" target="_blank">+37069271911</a>

                                <div class="item">El. Pastas:</div><a class="item-info" href="mailto://marius.dervinis@gmail.com" rel="noopener" target="_blank">marius.dervinis@gmail.com</a>
                                <div class="item">Vieta:</div>
                                <div class="item-info">Vilnius, Lithuania </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="job-title tablet">Barmenas - Miksologas</div>
                        <div class="items">
                            <div class="item-title">
                                <div class="item">Internetinis Puslapis:</div><a class="item-info" href="https://toplevelbartending.herokuapp.com/" rel="noopener" target="_blank">toplevelbartending.herokuapp.com</a>
                                <div class="item">Twitter:</div><a class="item-info" href="https://twitter.com/MariusDerv" rel="noopener" target="_blank">twitter.com/MariusDerv</a>
                                <div class="item">Facebook:</div><a class="item-info" href="https://facebook.com/marius.dervinis" rel="noopener" target="_blank">facebook.com/marius.dervinis</a>
                                <div class="item">Instagram:</div><a class="item-info" href="https://www.instagram.com/marius.der/" rel="noopener" target="_blank">instagram.com/marius.der</a>
                            </div>
                        </div>
                    </div>
                    <div class="content desktop"><img class="profile-img" src="img/profile.jpg" alt=""></div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="about">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Apie mane
                        </div>
                    </div>
                    <div class="content">
                        <p>Draugiškas ir charizmatiškas barmenas-miksologas, turintis daugiau nei 4 metų patirtį baruose ir prabangiuose restoranuose Londone. Dirbo britų, Viduržemio jūros, italų, indų ir japonų restoranuose, susipažinau su jų unikalia kultūra
                            ir didele gėrimų įvairove. Turėjau galimybę dalyvauti įvairiuose renginiuose, tokiuose kaip „London Facion week“, „Swing time“, sezoniniuose renginiuose ir gimtadieniuose. Taip pat žinau populiarių klasikinių kokteilių receptus
                            ir išradau kelis geriausiai parduodamus „special“ kokteilius.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="experience">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Darbo patirtis
                        </div>
                    </div>
                    <div class="content">
                        <h1>Yen restaurant</h1>
                        <div class="section-date">
                            2019 - 2020
                        </div>
                        <div class="section-place">
                            190, 5 Strand, Arundel St, Temple, London WC2R 3DX, United Kingdom
                        </div>
                        <h2>Barmenas</h2>
                        <p>
                            <ul>
                                <li>Susipažinau su Japonų kultūra, Sakė ryžių vynu, Japonišku viskiu.</li>
                                <li>Patirtis dirbant prabangiame restorane.</li>
                                <li>Sukūriau savus Japoniškus "special" kokteilius.</li>
                                <li>Aktyvus "Yen restaurant" vasaros meniu narys.</li>
                                <li>Londono "Fasion week" specialūs kokteiliai.</li>
                                <li>Atsakomybė vadovauti barui.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="content">
                        <h1>Ti-Amo authentic Italian restaurant</h1>
                        <div class="section-date">
                            2018-2019
                        </div>
                        <div class="section-place">
                            182 Petts Wood Rd, Orpington BR5 1LG, United Kingdom
                        </div>
                        <h2>Barmenas</h2>
                        <p>
                            <ul>
                                <li>Aukštos kokybės kokteilių gaminimas.</li>
                                <li>Sugalvoti naujus kokteilių receptus dienos kokteilio akcijai.</li>
                                <li>Sužinojau daugiau apie kavą. Kaip padaryti gerą Kapučino, Latė, "flat white" kavą.</li>
                                <li>Valdyti barą, kurti naujus būdus kaip dirbti efektyviau.</li>
                                <li>Mokinti barmenų padėjėjus.</li>
                                <li>Atsargų skaičiavimas, pertvarkymas.</li>
                                <li>Veikla grynaisiais pinigais, atsakingas už pinigus.</li>
                            </ul>
                        </p>
                    </div>

                    <div class="content">
                        <h1>Cyprianis Mediterranean restaurant</h1>
                        <div class="section-date">
                            2018
                        </div>
                        <div class="section-place">
                            17 Station Square, Petts Wood, BR5 1LY, United Kingdom
                        </div>
                        <h2>Barmenas</h2>
                        <p>
                            <ul>
                                <li>Gaminti klasikinius kokteilius.</li>
                                <li>Kokybiškas, draugiškas ir profesionalus aptarnavimas.</li>
                                <li>Efektyvus darbas užimtoje aplinkoje.</li>
                                <li>Pagalba padavėjams.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="content">
                        <h1>The Porcupine pub</h1>
                        <div class="section-date">
                            2017
                        </div>
                        <div class="section-place">
                            48 Charing Cross Road, Greater London, WC2H 0BS, United Kingdom
                        </div>
                        <h2>Komandos narys</h2>
                        <p>
                            <ul>
                                <li>Klientų aptarnavimas alkoholiu, gėrimais ir maistu.</li>
                                <li>Užtikrinti, kad maistas ir gėrimai būtų patiekiami laikantis aukščiausių standartų ir pateikimo būdų.</li>
                                <li>Grynųjų kasų valdymas, mokėjimų surinkimas.</li>
                                <li>Atsargų užpildymas, alaus statinių keitimas, taurių plovimas, darbo vietos tvarkymas.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
        <section class="education">
            <div class="container">
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Įgūdžiai
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Miksologas.</li>
                            <li>Skonio pažinojimas.</li>
                            <li>Žinios apie japonų alkoholį ir „Sakė“ vyną.</li>
                            <li>Žinios apie itališką alkoholį ir vyną.</li>
                            <li>
                                Geri bendravimo įgūdžiai.
                            </li>
                            <li>Draugiškumas.</li>
                            <li>Darbas komandoje.</li>
                            <li>Laikantis švaros.</li>
                            <li>Dėmesys detalėms.</li>


                        </ul>
                    </div>
                </div>
                <div class="single-container">
                    <div class="content">
                        <div class="section-title">
                            Mokslas
                        </div>
                    </div>
                    <div class="content">
                        <ul>
                            <li>Roberto Russo miksologijos pamokos.</li>
                            <li>
                                Vilniaus technologijų ir verslo profesijos mokymo centras – 2016, Vilnius 01114, Lietuva.
                            </li>
                            <li>Darbuotojo diplomas. Kompiuterių projektavimo mokymo programos operatorius - 2016.</li>

                        </ul>
                        <br>
                        <h1>Kalbos:</h1>
                        <p>Anglų, Lietuvių, Rusų.</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="slice"></div>
    </div>
</body>

</html>